description: Base configuration

# --- Data Configuration ---
data:
  dataset: data.datasets.EndoVis17
  cross_validation: false

  transforms:
    train:
      - name: Resize
        params:
          height: 256
          width: 256
      - name: Normalize
        params:
          mean: [0.485, 0.456, 0.406]
          std: [0.229, 0.224, 0.225]
    test:
      - name: Resize
        params:
          height: 256
          width: 256
      - name: Normalize
        params:
          mean: [0.485, 0.456, 0.406]
          std: [0.229, 0.224, 0.225]

  batch_size: 8
  num_workers: 4
  pin_memory: true

# --- Training Configuration ---
training:
  epochs: 10
  optimizer:
    name: torch.optim.AdamW
    base_lr: 0.0001 # decoder and task heads learning rate
    encoder_lr_mod: 0.1 # dont let pretrained encoder explode
    params:
      weight_decay: 0.01
  scheduler:
    name: torch.optim.lr_scheduler.ReduceLROnPlateau
    params:
      mode: min
      factor: 0.1
      patience: 10

  checkpoint: null # continue training from this checkpoint
  finetune: null # finetune from this pre-trained model with frozen encoder

  encoder:
    name: models.simple_unet.Encoder
    params: {}

  tasks:
    segmentation:
      enabled: true
      criterion:
        weight: 1.0
        name: monai.losses.DiceCELoss
        params:
          softmax: True
          to_onehot_y: True
      decoder:
        name: models.simple_unet.SegmentationDecoder
        params: {}
      knowledge_distillation:
        enabled: false
        states: []
        criterion:
          weight: 0.5
          name: torch.nn.KLDivLoss
          params: {}
        encoder:
          name: models.simple_unet.Encoder
          params: {}
        decoder:
          name: models.simple_unet.SegmentationDecoder
          params: {}

    disparity: 
      enabled: false
      criterion:
        weight: 1.0
        name: null
        params: {}
      decoder:
        name: null # TODO: Implement disparity decoder
        params: {}
      knowledge_distillation:
        enabled: false
        states: []
        criterion:
          weight: 0.5
          name: null # ? L1Loss or MSELoss
          params: {}
        encoder:
          name: null
          params: {}
        decoder:
          name: null
          params: {}

logging:
  notebook_mode: false
  n_validation_images: 4