description: Debug

data:
  dataset: data.datasets.EndoVis17
  cross_validation: false

training:
  epochs: 1
  scheduler:
    name: torch.optim.lr_scheduler.ConstantLR
    params:
      factor: 1.0
      total_iters: 1

  encoder:
    name: models.encoders.timm.Encoder
    params:
      encoder_name: efficientnet_b0
      pretrained: true

  tasks:
    segmentation:
      enabled: true
      decoder:
        name: models.decoders.dynamic_unet.Decoder
      knowledge_distillation:
        enabled: false
    disparity:
      enabled: false

logging:
  n_validation_images: 4