data:
  dataset: "data.datasets.EndoVis17"
  cross_validation: true

training:
  epochs: 100
  scheduler:
    name: torch.optim.lr_scheduler.ConstantLR
    params:
      factor: 1.0
      total_iters: 1

  tasks:
    segmentation:
      enabled: true
      knowledge_distillation:
        enabled: false
    disparity:
      enabled: false

logging:
  n_validation_images: 4