data:
  dataset: data.datasets.OverfitDataset

training:
  epochs: 1

  tasks:
    segmentation:
      enabled: true
      knowledge_distillation:
        enabled: false
    disparity:
      enabled: false
      knowledge_distillation:
        enabled: false